---
layout: base.vto
---

<h1 class="font-title text-4xl text-center tracking-wider">
  Rabbits' Magic Pocket
</h1>

<p class="pt-2 pb-4 font-bold text-center italic text-blue">
  Card tricks for everyone !
</p>

<h2 class="font-title text-3xl tracking-wide">
  Tricks
</h2>

<div class="my-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {{ for trick of search.pages("tricks") }}
    {{ await comp.TrickLink({ trick }) }}
  {{ /for }}
</div>
