---
layout: base.vto
---

<h1>Rabbits' Magic Pocket</h1>

<p>Card tricks for everyone !</p>

<div>
  {{ for trick of search.pages("tricks") }}
    {{ await comp.TrickLink({ trick }) }}
  {{ /for }}
</div>
