---
layout: base.vto
---

<h1 style="margin-bottom: 2rem; font-size: 2.5rem; text-align: center">
  Rabbits' Magic Pocket
</h1>

<p>
  Card tricks for everyone !
</p>

<ul>
  {{ for page of search.pages("tricks") }}
    <a href="{{ page.url }}"><li>{{ page.title }}</li></a>
  {{ /for }}
</ul>
