<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Rabbits' Magic Pocket</title>
  </head>
  <body
    class="
      min-h-screen
      flex
      flex-col
      justify-between
      pt-8
      px-8
      w-full
      md:mx-auto
      md:w-3/4
      lg:w-2/3
      bg-white
      text-black
      font-sans
      container
    "
  >
    <div>
      {{ content }}
    </div>

    <footer class="pt-6 flex flex-col items-center gap-2">
      <div
        class="text-center text-dark-gray"
      >
        ©2025 Natouche
      </div>
      <img src="/static/footer.png" alt="" class="size-28" />
    </footer>
  </body>
</html>
