---
layout: base.vto
---

<a href="/">
  <header class="mb-4 flex flex-row justify-center items-center gap-2">
    <img src="/static/logo.png" alt="" class="size-16" />
    <h1 class="font-title text-4xl tracking-wider">
      Rabbits' Magic Pocket
    </h1>
  </header>
</a>

<div class="trick">
  <h1>{{ title }}</h1>
  <div class="mb-2">
    {{ for tag of tags.filter((tag) => tag !== "tricks") }}
      {{ await comp.TagChip({ tag }) }}
    {{ /for }}
  </div>
  {{ content }}
</div>
