@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-sans: "Inter", sans-serif;
	--font-title: "Chewy", sans-serif;

	--color-*: initial;
	--color-white: #eeeeee;
	--color-black: #282829;
	--color-red: #ff8552;
	--color-blue: #258ea6;
	--color-dark-blue: #111d4a;
}
