@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-sans: "Inter", sans-serif;
	--font-title: "Chewy", sans-serif;

	--color-*: initial;
	--color-white: #eeeeee;
	--color-gray: #dddddf;
	--color-black: #282829;
	--color-red: #ff4b3e;
	--color-blue: #3670ce;
}

.trick {
	h1 {
		margin: 0.5rem 0;
		font-family: "Chewy", sans-serif;
		font-size: 2rem;
		color: var(--color-blue);
		letter-spacing: 1px;
	}

	p,
	ul {
		padding-bottom: 0.5rem;
		text-align: justify;
		text-indent: 1rem;
	}

	li {
		padding-left: 0.2rem;
	}
	li::before {
		content: "-";
		padding-right: 0.5rem;
	}

	table {
		margin: 0 auto 0.5rem auto;
		width: 80%;
		table-layout: fixed;

		thead {
			background: var(--color-gray);
		}

		th,
		td {
			border: 2px solid var(--color-blue);
		}
	}

	.markdown-alert {
		margin: 1rem 0;
		padding: 0.5rem 1rem;
		background: var(--color-gray);
		border-radius: 0.25rem;
		border-left: 6px solid var(--alert-color);

		p {
			padding: 0;
			text-indent: 0;
		}
	}
	.markdown-alert-title {
		font-family: "Chewy", sans-serif;
		font-size: 1.3rem;
		letter-spacing: 1px;
		color: var(--alert-color);
	}

	.markdown-alert-setup {
		--alert-color: var(--color-blue);
	}

	.markdown-alert-note {
		--alert-color: #3da60d;
	}
}
