@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-sans: "Inter", sans-serif;
	--font-title: "Chewy", sans-serif;

	--color-*: initial;
	--color-white: #eeeeee;
	--color-gray: #dddddf;
	--color-black: #282829;
	--color-red: #ff4b3e;
	--color-blue: #3e78b2;
}

.trick {
	h1 {
		margin: 0.5rem 0;
		font-family: "Chewy", sans-serif;
		font-size: 2rem;
		color: var(--color-blue);
		letter-spacing: 1px;
	}

	p {
		padding-bottom: 0.4rem;
		text-align: justify;
		text-indent: 1rem;
	}
}
