<a href="{{ trick.url }}" class="block px-4 py-2 bg-gray rounded">
  <div class="text-lg font-medium">
    {{ trick.title }}
  </div>
  {{ for tag of trick.tags }}
    <div class="my-1 mr-1 px-1 w-max bg-blue text-white">
      {{ tag }}
    </div>
  {{ /for }}
</a>
