<a href="{{ trick.url }}" class="block px-4 py-2 bg-gray rounded">
  <div class="text-lg font-medium">
    {{ trick.title }}
  </div>
  <div class="text-sm">
    {{ for tag of trick.tags.filter((tag) => tag !== "tricks") }}
      {{ await comp.TagChip({ tag }) }}
    {{ /for }}
  </div>
</a>
